:root{
    --color-alura: #051932;
    --color-floral-white: #fffcee;
    --color-pomp-and-power: #7c5e99;
    --color-fiery-rose: #f25a70;
    --color-old-silver: #828282;
    --color-sandstorm: #F5D547;
    --color-mantis: #62c370;    
}